.background-image {
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.8);
}

.img-small {
  width: 100px;
  height: auto;
}