<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="card-body">
        <% itens.forEach(function(item){ %>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="../../../icons/fast-food.png" alt="img">
                    <div class="card-body">
                        <h5 class="card-title"> <%= item.nome %> </h5>
                        <p class="card-text"> <%= item.descricao %> </p>
                        <h6 class="card-title"> R$ <%= item.preco %> </h6>
                    </div>
                </div>
            </div>        
        <% }); %>
    </div>
</body>
</html>
